.idea
a_env
examples_*
.spyproject
__pycache__
.ipynb_checkpoints
data
output
pretrain
wandb
supp*
*.zip
saved_models
ign*
.vscode
*.sh
*cmd.txt
*.pth
jobs
sam2_hiera_large.pt.part
sansa_demo.ipynb_checkpoints
UnCertainty-TASK.md
修改思路.md
